img.cover-art {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position:absolute;
    top:0;
    left:0; */
    z-index: 1;
}
img.cover-bg {
    opacity: 0.5;
}

#mmRadioPlayerCover {
    flex-direction: column;
    position:relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.498);
}

#mmRadioPlayerAudio {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

#mmRadioPlayerControls {
    width:100%;
    opacity: 0;
    position:absolute;
    transition: opacity 0.5s;
    z-index: 2;
    bottom:0px;
}

#mmRadioPlayerCover:hover #mmRadioPlayerControls {
    opacity: 1;
}